DATABASE_URL=postgresql://rafaeljrs:nw01@localhost:5432/project_cataloger
OPENROUTER_API_KEY=your_key_here
OPENROUTER_MODEL=google/gemini-2.0-flash-001
GITS_PATH=/home/rafaeljrs/gits
MAX_FILE_SIZE=8192
SCAN_DELAY_SECONDS=1
